.container{
    max-width: 120rem;
    display: flex;
  
}



.content{
    flex: 1;
    /* background-color: orchid; */
    position: absolute;
    width: 60rem;
/* height: 62px; */
left: 17rem;
top: 1.5rem;
}


.main{
    margin-top: 1.5rem;
}

/* section 1 : card */
.section1{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}


/* TABLE SECTION */

.section2{
    margin: 1rem 0;
    background-color: white;
}
.table-button{
    padding: 8px 16px;
    background: #95D5B2;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    color: white;

display: block;

    font-family: 'Acme';
font-style: normal;
font-weight: 400;
font-size: 1rem;
text-transform: capitalize;
}

.table_body-row-icon > * {
color: rgba(42, 38, 66, 0.2);
    font-size: 0.8rem;
    cursor: pointer;
}

.bottom{
    display: flex;
    justify-content: space-between;

background-color: white;
padding: 1rem;
border-radius: 5px;
box-shadow: 0px 10px 40px rgba(42, 38, 66, 0.3);

}

.bottom__left-section{}

.bottom__left-section > p:nth-child(1){
    font-family: 'Acme';
font-style: normal;
font-weight: 400;
font-size: 1.6rem;
line-height: 20px;
margin-bottom: 1rem;

color: #000000;
}

.bottom__left-section > .text2{
    font-family: 'Actor';
font-style: normal;
font-weight: 400;
font-size: .6rem;
line-height: 30px;

text-transform: capitalize;

color: #000000;

opacity: 0.2;
}

.bottom__left-section > button{
    margin-top: 1.8rem;
    background: #2A2642;
/* box-shadow: 0px 6px 40px rgba(149, 213, 178, 0.25); */
padding: 0.8rem 3.5rem;
font-size: 0.6rem;
border: none;
border-radius: 4px;
color: white;
transform:translateY(1);
transition: transform .3s ease-in-out;
}

.bottom__left-section > button:hover {
    transform: translateY(2);
    box-shadow: 0px 6px 40px rgba(22, 22, 22, 0.5);

}

.bottom__right-section > img{
    width: 10rem;
    height: 9rem;
}